.button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  position: relative;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.success {
  color: #5c9210;
}

.danger {
  color: #944317;
}

.button:before,
.button:after {
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.button:before {
  right: 0;
  border: 1px solid #ffdf91;
  border-left: 0;
  border-right: 0;
}

.button:after {
  left: 0;
}

.button:hover {
  transition-delay: 0.5s;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
}

.button:hover:before {
  transition-delay: 0s;
}

.button:hover:after {
  background: #ffdf91;
  transition-delay: 0.35s;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
