.contactData {
  width: 80%;
  padding: 10px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.input {
  display: block;
}

@media only screen and (min-width: 600px) {
  .contactData {
    width: 500px;
  }
}
